<div class="mt-5">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="input-search" class="form-label">Từ khóa</label>
            <input type="text" name="p" class="form-control" id="input-search" placeholder="Nhập từ khóa ... ">
        </div>

        <div class="mb-3">
            <label for="input-gender" class="form-label">Từ khóa</label>
            <select name="gender" class="form-control" id="input-gender">
                <option value="">--Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>